In [77]:
# PASSO 0 - Entender o desafio que vou resolver

In [78]:
# PASSO 1 - Importar a base de dados (Pasta Vendas)
import pandas as pd #importando a biblioteca pandas
tabela = pd.read_excel('Vendas+-+Base+de+Dados.xlsx') #lendo o arquivo com pandas
display(tabela) # recomendado
# print(tabela) # não recomendado para vizualizar as tabelas

,Cód.,Data,Loja,Produto,Quantidade,Valor Unitário
0,1,5/18/2022,Maranhão,Caixa de som,4,79
1,2,7/24/2022,Santa Catarina,Notebook,9,3789
2,3,12/20/2022,Rio de Janeiro,Notebook,3,3789
3,4,1/22/2022,Espírito Santo,Nobreak,9,1279
4,5,9/11/2022,Tocantins,Impressora,9,699
...,...,...,...,...,...,...
14995,14996,8/18/2022,São Paulo,Webcam,4,150
14996,14997,1/6/2022,São Paulo,Impressora,9,699
14997,14998,11/13/2022,São Paulo,Notebook,9,3789
14998,14999,6/29/2022,São Paulo,Caixa de som,6,79
14999,15000,9/5/2022,Minas Gerais,Tablet,3,1349

In [79]:
# PASSO 2 - Calcular o produto mais vendido (quantidade)

# .sum() irá somar os valores numéricos da tabela e talvez irá tentar concatenar alguma string
tb_qtd_produto = tabela.groupby('Produto').sum()
# Fazendo um filtro na tabela para retornar apenas a coluna 'Quantidade'
# Para aplicar um filtro, deve-se usar DOIS COLCHETES
tb_qtd_produto = tb_qtd_produto[['Quantidade']]
# .sort_values() define a organização dos valores
# nesse caso é pela coluna 'Quantidade', de forma decrescente (ascending=False)
tb_qtd_produto = tb_qtd_produto.sort_values(by='Quantidade', ascending=False)
display(tb_qtd_produto)

              Quantidade
Produto
Impressora         13285
Notebook           12930
Monitor             9923
Nobreak             6778
Tablet              6684
Teclado             6631
Webcam              6562
Caixa de som        6535
PC                  6518
Mouse               6481

In [80]:
# PASSO 3 - Calcular o produto mais vendido (faturamento)

tabela['Faturamento'] = tabela['Quantidade'] * tabela['Valor Unitário']
tabela_faturamento_produto = tabela.groupby('Produto').sum()
# Filtrando apenas a coluna Faturamento (DOIS COLCHETES)
tabela_faturamento_produto = tabela_faturamento_produto[['Faturamento']].sort_values(by='Faturamento', ascending=False)
display(tabela_faturamento_produto)

              Faturamento
Produto
Notebook         48991770
PC               38456200
Monitor          11907600
Impressora        9286215
Tablet            9016716
Nobreak           8669062
Teclado           1193580
Webcam             984300
Mouse              725872
Caixa de som       516265

In [81]:
# PASSO 4 - Calcular loja/estado que mais vendeu (em faturamento)

tabela_faturamento_loja = tabela.groupby('Loja').sum()
tabela_faturamento_loja = tabela_faturamento_loja[['Faturamento']].sort_values(by='Faturamento', ascending=False)
display(tabela_faturamento_loja)

                     Faturamento
Loja
São Paulo               41018776
Rio de Janeiro          12274351
Minas Gerais            11491527
Paraná                   7611645
Pernambuco               7041123
Rio Grande do Sul        6618703
Goiás                    6288009
Bahia                    5030257
Santa Catarina           4971700
Distrito Federal         4355565
Espírito Santo           3523731
Pará                     2932941
Ceará                    2925202
Mato Grosso do Sul       2009149
Mato Grosso              1708095
Paraíba                  1635059
Amazonas                 1574940
Rio Grande do Norte      1324966
Tocantins                1256281
Piauí                     929292
Maranhão                  924990
Alagoas                   872983
Sergipe                   637378
Rondônia                  358665
Roraima                   173428
Acre                      142254
Amapá                     116570

In [82]:
# PASSO 5 - Calcular o ticket médio por loja/estado

# Criei uma nova coluna com os mesmos valores de Valor Unitário
tabela['Ticket Médio'] = tabela['Valor Unitário']
# adicionando parametro numeric_only para informar que a operação de média será feita apenas com números
# Método mean() faz a média dos valores agrupados
tb_ticket_medio = tabela.groupby('Loja').mean(numeric_only=True)
tb_ticket_medio = tb_ticket_medio[['Ticket Médio']].sort_values(by='Ticket Médio', ascending=False)
display(tb_ticket_medio)

                     Ticket Médio
Loja
Acre                  2142.769231
Sergipe               1735.333333
Tocantins             1734.306452
Rio Grande do Sul     1690.043909
Pará                  1683.746177
Santa Catarina        1683.562620
Pernambuco            1683.036849
Paraná                1608.725917
Bahia                 1606.045226
Mato Grosso do Sul    1600.952607
Rio de Janeiro        1594.396825
Espírito Santo        1580.024752
Goiás                 1577.605634
São Paulo             1573.686250
Mato Grosso           1572.692708
Piauí                 1571.308511
Maranhão              1561.763158
Ceará                 1540.983871
Minas Gerais          1526.709104
Rio Grande do Norte   1515.595238
Paraíba               1509.593750
Distrito Federal      1504.994393
Amazonas              1486.920904
Alagoas               1430.821138
Roraima               1369.095238
Rondônia              1292.000000
Amapá                  966.600000

In [83]:
# PASSO 6 - Criar um gráfico/dashboard da loja/estado que mais vendeu (em faturamento)

import plotly.express as px

grafico = px.bar(tabela_faturamento_loja, y='Faturamento',x=tabela_faturamento_loja.index)
grafico.show()

FORMATAÇÃO NUMÉRICAS E MONETÁRIAS

In [84]:
# Loja/estado que mais vendeu (em faturamento)

# Importando apenas o format_currency do babel.numbers
# Biblioteca para formatação monetária
from babel.numbers import format_currency
valor = 1000000
valor_fomatado = format_currency(valor, 'BRL', locale='pt_BR')
print(valor_fomatado)

# FORMATAÇÃO MONETÁRIA
# Usando o .aply() para pegar os itens da coluna, sendo possível usar o lambda
# Usando o pd.DataFrame() para reforçar que a tabela com o resultado seja um DataFrame tbm
tabela_faturamento_loja_formatada = pd.DataFrame(tabela_faturamento_loja['Faturamento'].apply(lambda x: format_currency(x, 'BRL', locale='pt_BR')))

# Usando o reset_index() para tirar a coluna especificada no group by do indice e voltar o indice padrão
# Group by (pandas) transforma a coluna especificada como um indice
tabela_faturamento_loja_formatada = tabela_faturamento_loja_formatada.reset_index()
display(tabela_faturamento_loja_formatada)

# Formatando tabela para html
# Aplicando estilizações html na tabela
# Sempre criar outras variávei para mexer com estilização da célula, pois quando estilizaos esses valores deixam de ser números e viram strings
tabela_faturamento_loja_formatada_html = tabela_faturamento_loja_formatada.to_html(index=False, justify='center', border=0).replace('<tbody>', '<tbody style="text-align:center; color:#484848; background:#F7F7F7">')
print(tabela_faturamento_loja_formatada_html)

R$ 1.000.000,00

                   Loja       Faturamento
0             São Paulo  R$ 41.018.776,00
1        Rio de Janeiro  R$ 12.274.351,00
2          Minas Gerais  R$ 11.491.527,00
3                Paraná   R$ 7.611.645,00
4            Pernambuco   R$ 7.041.123,00
5     Rio Grande do Sul   R$ 6.618.703,00
6                 Goiás   R$ 6.288.009,00
7                 Bahia   R$ 5.030.257,00
8        Santa Catarina   R$ 4.971.700,00
9      Distrito Federal   R$ 4.355.565,00
10       Espírito Santo   R$ 3.523.731,00
11                 Pará   R$ 2.932.941,00
12                Ceará   R$ 2.925.202,00
13   Mato Grosso do Sul   R$ 2.009.149,00
14          Mato Grosso   R$ 1.708.095,00
15              Paraíba   R$ 1.635.059,00
16             Amazonas   R$ 1.574.940,00
17  Rio Grande do Norte   R$ 1.324.966,00
18            Tocantins   R$ 1.256.281,00
19                Piauí     R$ 929.292,00
20             Maranhão     R$ 924.990,00
21              Alagoas     R$ 872.983,00
22              Sergipe     R$ 637.378,00
23             Rondônia     R$ 358.665,00
24              Roraima     R$ 173.428,00
25                 Acre     R$ 142.254,00
26                Amapá     R$ 116.570,00

<table class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>Loja</th>
      <th>Faturamento</th>
    </tr>
  </thead>
  <tbody style="text-align:center; color:#484848; background:#F7F7F7">
    <tr>
      <td>São Paulo</td>
      <td>R$ 41.018.776,00</td>
    </tr>
    <tr>
      <td>Rio de Janeiro</td>
      <td>R$ 12.274.351,00</td>
    </tr>
    <tr>
      <td>Minas Gerais</td>
      <td>R$ 11.491.527,00</td>
    </tr>
    <tr>
      <td>Paraná</td>
      <td>R$ 7.611.645,00</td>
    </tr>
    <tr>
      <td>Pernambuco</td>
      <td>R$ 7.041.123,00</td>
    </tr>
    <tr>
      <td>Rio Grande do Sul</td>
      <td>R$ 6.618.703,00</td>
    </tr>
    <tr>
      <td>Goiás</td>
      <td>R$ 6.288.009,00</td>
    </tr>
    <tr>
      <td>Bahia</td>
      <td>R$ 5.030.257,00</td>
    </tr>
    <tr>
      <td>Santa Catarina</td>
      <td>R$ 4.971.700,00</td>
    </tr>
    <tr>
      <td>Distrito Federal</td>
      <td>R$ 4.355.565,00</td>
    </tr>
    <tr>
      <td>Espírito Santo</td>
      <td>R$ 3.523.731,00</td>
    </tr>
    <tr>
      <td>Pará</td>
      <td>R$ 2.932.941,00</td>
    </tr>
    <tr>
      <td>Ceará</td>
      <td>R$ 2.925.202,00</td>
    </tr>
    <tr>
      <td>Mato Grosso do Sul</td>
      <td>R$ 2.009.149,00</td>
    </tr>
    <tr>
      <td>Mato Grosso</td>
      <td>R$ 1.708.095,00</td>
    </tr>
    <tr>
      <td>Paraíba</td>
      <td>R$ 1.635.059,00</td>
    </tr>
    <tr>
      <td>Amazonas</td>
      <td>R$ 1.574.940,00</td>
    </tr>
    <tr>
      <td>Rio Grande do Norte</td>
      <td>R$ 1.324.966,00</td>
    </tr>
    <tr>
      <td>Tocantins</td>
      <td>R$ 1.256.281,00</td>
    </tr>
    <tr>
      <td>Piauí</td>
      <td>R$ 929.292,00</td>
    </tr>
    <tr>
      <td>Maranhão</td>
      <td>R$ 924.990,00</td>
    </tr>
    <tr>
      <td>Alagoas</td>
      <td>R$ 872.983,00</td>
    </tr>
    <tr>
      <td>Sergipe</td>
      <td>R$ 637.378,00</td>
    </tr>
    <tr>
      <td>Rondônia</td>
      <td>R$ 358.665,00</td>
    </tr>
    <tr>
      <td>Roraima</td>
      <td>R$ 173.428,00</td>
    </tr>
    <tr>
      <td>Acre</td>
      <td>R$ 142.254,00</td>
    </tr>
    <tr>
      <td>Amapá</td>
      <td>R$ 116.570,00</td>
    </tr>
  </tbody>
</table>

In [85]:
# Produtos mais vendidos (em quantidade)

qtd = 20000000
# Usando o format para especificar o separador de milhar (,)
# depois, com o replace, substituo todas as vírgulas por ponto
qtd_formatado = "{:,}".format(qtd).replace(',', '.')
print(qtd_formatado)

# FORMATAÇÃO MONERÁRIA
# Sempre lembrar de passar para DF, pois o lambda tira a formatação de de DF dp pandas
tb_qtd_produto_formatado = pd.DataFrame(tb_qtd_produto['Quantidade'].apply(lambda x: "{:,}".format(x).replace(',', '.')))

# Usando o reset_index() para tirar a coluna especificada no group by do indice e voltar o indice padrão
# Group by (pandas) transforma a coluna especificada como um indice
tb_qtd_produto_formatado = tb_qtd_produto_formatado.reset_index()
display(tb_qtd_produto_formatado)

# Formatação em HTML
tb_qtd_produto_formatado_html = tb_qtd_produto_formatado.to_html(index=False, justify='center', border=0).replace('<tbody>', '<tbody style="text-align:center; color:#484848; background:#F7F7F7">')
display(tb_qtd_produto_formatado_html)

20.000.000

        Produto Quantidade
0    Impressora     13.285
1      Notebook     12.930
2       Monitor      9.923
3       Nobreak      6.778
4        Tablet      6.684
5       Teclado      6.631
6        Webcam      6.562
7  Caixa de som      6.535
8            PC      6.518
9         Mouse      6.481

'<table class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th>Produto</th>\n      <th>Quantidade</th>\n    </tr>\n  </thead>\n  <tbody style="text-align:center; color:#484848; background:#F7F7F7">\n    <tr>\n      <td>Impressora</td>\n      <td>13.285</td>\n    </tr>\n    <tr>\n      <td>Notebook</td>\n      <td>12.930</td>\n    </tr>\n    <tr>\n      <td>Monitor</td>\n      <td>9.923</td>\n    </tr>\n    <tr>\n      <td>Nobreak</td>\n      <td>6.778</td>\n    </tr>\n    <tr>\n      <td>Tablet</td>\n      <td>6.684</td>\n    </tr>\n    <tr>\n      <td>Teclado</td>\n      <td>6.631</td>\n    </tr>\n    <tr>\n      <td>Webcam</td>\n      <td>6.562</td>\n    </tr>\n    <tr>\n      <td>Caixa de som</td>\n      <td>6.535</td>\n    </tr>\n    <tr>\n      <td>PC</td>\n      <td>6.518</td>\n    </tr>\n    <tr>\n      <td>Mouse</td>\n      <td>6.481</td>\n    </tr>\n  </tbody>\n</table>'

In [86]:
# Produtos mais vendidos (em faturamento)

tb_produto_faturamento_formatado = pd.DataFrame(tabela_faturamento_produto['Faturamento'].apply(lambda x: format_currency(x, 'BRL', locale='pt_BR')))

# Usando o reset_index() para tirar a coluna especificada no group by do indice e voltar o indice padrão
# Group by (pandas) transforma a coluna especificada como um indice
tb_produto_faturamento_formatado = tb_produto_faturamento_formatado.reset_index()
display(tb_produto_faturamento_formatado)

# Formatação em HTML
tb_produto_faturamento_formatado_html = tb_produto_faturamento_formatado.to_html(index=False, justify='center', border=0).replace('<tbody>', '<tbody style="text-align:center; color:#484848; background:#F7F7F7">')
display(tb_produto_faturamento_formatado_html)

        Produto       Faturamento
0      Notebook  R$ 48.991.770,00
1            PC  R$ 38.456.200,00
2       Monitor  R$ 11.907.600,00
3    Impressora   R$ 9.286.215,00
4        Tablet   R$ 9.016.716,00
5       Nobreak   R$ 8.669.062,00
6       Teclado   R$ 1.193.580,00
7        Webcam     R$ 984.300,00
8         Mouse     R$ 725.872,00
9  Caixa de som     R$ 516.265,00

'<table class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th>Produto</th>\n      <th>Faturamento</th>\n    </tr>\n  </thead>\n  <tbody style="text-align:center; color:#484848; background:#F7F7F7">\n    <tr>\n      <td>Notebook</td>\n      <td>R$\xa048.991.770,00</td>\n    </tr>\n    <tr>\n      <td>PC</td>\n      <td>R$\xa038.456.200,00</td>\n    </tr>\n    <tr>\n      <td>Monitor</td>\n      <td>R$\xa011.907.600,00</td>\n    </tr>\n    <tr>\n      <td>Impressora</td>\n      <td>R$\xa09.286.215,00</td>\n    </tr>\n    <tr>\n      <td>Tablet</td>\n      <td>R$\xa09.016.716,00</td>\n    </tr>\n    <tr>\n      <td>Nobreak</td>\n      <td>R$\xa08.669.062,00</td>\n    </tr>\n    <tr>\n      <td>Teclado</td>\n      <td>R$\xa01.193.580,00</td>\n    </tr>\n    <tr>\n      <td>Webcam</td>\n      <td>R$\xa0984.300,00</td>\n    </tr>\n    <tr>\n      <td>Mouse</td>\n      <td>R$\xa0725.872,00</td>\n    </tr>\n    <tr>\n      <td>Caixa de som</td>\n      <td>R$\xa0516.265,00</td>\n    </tr>\n  </tbody>\n</table>'

In [87]:
# Ticket Médio por Loja/Estado

tb_ticket_medio_formatado = pd.DataFrame(tb_ticket_medio['Ticket Médio'].apply(lambda x: format_currency(x, 'BRL', locale='pt_BR')))

# Usando o reset_index() para tirar a coluna especificada no group by do indice e voltar o indice padrão
# Group by (pandas) transforma a coluna especificada como um indice
tb_ticket_medio_formatado = tb_ticket_medio_formatado.reset_index()
display(tb_ticket_medio_formatado)

# Formatação para HTML
tb_ticket_medio_formatado_html = tb_ticket_medio_formatado.to_html(index=False, justify='center', border=0).replace('<tbody>', '<tbody style="text-align:center; color:#484848; background:#F7F7F7">')
display(tb_qtd_produto_formatado_html)

                   Loja Ticket Médio
0                  Acre  R$ 2.142,77
1               Sergipe  R$ 1.735,33
2             Tocantins  R$ 1.734,31
3     Rio Grande do Sul  R$ 1.690,04
4                  Pará  R$ 1.683,75
5        Santa Catarina  R$ 1.683,56
6            Pernambuco  R$ 1.683,04
7                Paraná  R$ 1.608,73
8                 Bahia  R$ 1.606,05
9    Mato Grosso do Sul  R$ 1.600,95
10       Rio de Janeiro  R$ 1.594,40
11       Espírito Santo  R$ 1.580,02
12                Goiás  R$ 1.577,61
13            São Paulo  R$ 1.573,69
14          Mato Grosso  R$ 1.572,69
15                Piauí  R$ 1.571,31
16             Maranhão  R$ 1.561,76
17                Ceará  R$ 1.540,98
18         Minas Gerais  R$ 1.526,71
19  Rio Grande do Norte  R$ 1.515,60
20              Paraíba  R$ 1.509,59
21     Distrito Federal  R$ 1.504,99
22             Amazonas  R$ 1.486,92
23              Alagoas  R$ 1.430,82
24              Roraima  R$ 1.369,10
25             Rondônia  R$ 1.292,00
26                Amapá    R$ 966,60

'<table class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th>Produto</th>\n      <th>Quantidade</th>\n    </tr>\n  </thead>\n  <tbody style="text-align:center; color:#484848; background:#F7F7F7">\n    <tr>\n      <td>Impressora</td>\n      <td>13.285</td>\n    </tr>\n    <tr>\n      <td>Notebook</td>\n      <td>12.930</td>\n    </tr>\n    <tr>\n      <td>Monitor</td>\n      <td>9.923</td>\n    </tr>\n    <tr>\n      <td>Nobreak</td>\n      <td>6.778</td>\n    </tr>\n    <tr>\n      <td>Tablet</td>\n      <td>6.684</td>\n    </tr>\n    <tr>\n      <td>Teclado</td>\n      <td>6.631</td>\n    </tr>\n    <tr>\n      <td>Webcam</td>\n      <td>6.562</td>\n    </tr>\n    <tr>\n      <td>Caixa de som</td>\n      <td>6.535</td>\n    </tr>\n    <tr>\n      <td>PC</td>\n      <td>6.518</td>\n    </tr>\n    <tr>\n      <td>Mouse</td>\n      <td>6.481</td>\n    </tr>\n  </tbody>\n</table>'

In [88]:
# PASSO 7 - Enviar um e-mail para o setor responsável

import smtplib
import email.message as em
# importando o modulo para não subir para o github
from senha import senha_email

# Corpo do e-mail
# """ para escrver em várias linhas
corpo_email = f"""
<p>Bom dia, prezados!</p>
<p>Segue relatório de vendas</p>

<!-- Usando o .to_html() do panda para dizer que o valor passado deve ser tratado como um html -->
<p>Produtos mais vendidos em quantidade</p>
<p><table>{tb_qtd_produto_formatado_html}</></p>

<p>Produtos mais vendidos em faturamento</p>
<p>{tb_produto_faturamento_formatado_html}</p>

<p>Loja que mais vendeu por faturamento</p>
<p>{tabela_faturamento_loja_formatada_html}</p>

<p>Ticket médio por loja</p>
<p>{tb_ticket_medio_formatado_html}</p>

<p>Att;</p>
<p>Guilherme Henrique</p>
"""

msg = em.Message()
msg['Subject'] = "Teste" # ASSUNTO DO E-MAIL
msg['From'] = 'guilhermesilva50239@gmail.com' # E-MAIL QUE VAI ENVIAR O E-MAIL
msg['To'] = 'guilhermehotmart99@gmail.com' # E-MAIL QUE VAI RECEBER
password = senha_email # SENHA DO E-MAIL QUE VAI ENVIAR
msg.add_header('Content-Type', 'text/html') # Tipo / formato do conteúdo
msg.set_payload(corpo_email ) # Mensagem / corpo do e-mail

# Configurações do servidor
s = smtplib.SMTP('smtp.gmail.com: 587')
s.starttls()

# Credenciais do login
s.login(msg['From'], password)
s.sendmail(msg['From'], [msg['To']], msg.as_string().encode('utf-8'))
print('Email enviado')

Email enviado