In [33]:
# PASSO 3 - Calcular o produto mais vendido (faturamento)
# PASSO 4 - Calcular loja/estado que mais vendeu (em faturamento)
# PASSO 5 - Calcular o ticket médio por loja/estado
# PASSO 6 - Criar um gráfico/dashboard da loja/estado que mais vendeu (em faturamento)
# PASSO 7 - Enviar um e-mail para o setor responsável

In [34]:
# PASSO 0 - Entender o desafio que vou resolver

In [35]:
# PASSO 1 - Importar a base de dados (Pasta Vendas)
import pandas as pd #importando a biblioteca pandas
tabela = pd.read_excel('Vendas+-+Base+de+Dados.xlsx') #lendo o arquivo com pandas
display(tabela) # recomendado
# print(tabela) # não recomendado para vizualizar as tabelas

,Cód.,Data,Loja,Produto,Quantidade,Valor Unitário
0,1,5/18/2022,Maranhão,Caixa de som,4,79
1,2,7/24/2022,Santa Catarina,Notebook,9,3789
2,3,12/20/2022,Rio de Janeiro,Notebook,3,3789
3,4,1/22/2022,Espírito Santo,Nobreak,9,1279
4,5,9/11/2022,Tocantins,Impressora,9,699
...,...,...,...,...,...,...
14995,14996,8/18/2022,São Paulo,Webcam,4,150
14996,14997,1/6/2022,São Paulo,Impressora,9,699
14997,14998,11/13/2022,São Paulo,Notebook,9,3789
14998,14999,6/29/2022,São Paulo,Caixa de som,6,79
14999,15000,9/5/2022,Minas Gerais,Tablet,3,1349

In [39]:
# PASSO 2 - Calcular o produto mais vendido (quantidade)

# .sum() irá somar os valores numéricos da tabela e talvez irá tentar concatenar alguma string
tb_qtd_produto = tabela.groupby('Produto').sum()
# Fazendo um filtro na tabela para retornar apenas a coluna 'Quantidade'
# Para aplicar um filtro, deve-se usar DOIS COLCHETES
tb_qtd_produto = tb_qtd_produto[['Quantidade']]
# .sort_values() define a organização dos valores
# nesse caso é pela coluna 'Quantidade', de forma decrescente (ascending=False)
tb_qtd_produto = tb_qtd_produto.sort_values(by='Quantidade', ascending=False)
display(tb_qtd_produto)

              Quantidade
Produto
Impressora         13285
Notebook           12930
Monitor             9923
Nobreak             6778
Tablet              6684
Teclado             6631
Webcam              6562
Caixa de som        6535
PC                  6518
Mouse               6481